<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active {
            color: red;
        }
    </style>
</head>
<body>
<div id="app3">
<!---->
    <ul>
        <li
            v-for="(value, in object"
        >{{ value }}</li>
    </ul>
    <div v-for="(value, name) in object">
        {{ name }}: {{ value }}
    </div>
    <div v-for="(value, name, index) in object" :key="index">
        {{ index }} {{ name }}: {{ value }}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    // 数组变异方法(mutation method)
    // Vue将被侦听的数组的变异方法进行了包裹,所以它们也将会触发视图更新,这些被包裹的方法包括
    /*
    *
    * push()
    * pop()
    * shift()
    * unshift()
    * splice()
    * sort()
    * reverse()
    *
    * */
    // 替换数组
    // 变异方法,顾明思义,会改变调用这些方法的原始数组,相比之下,也有非变异(non-mutating method)方法,例如 filter(),concat() 和slice().
    //  它们不会改变原始数组,而总是你返回一个新数组,当使用非变异方法时,可以用新数组替换旧数组
    example1.items = example1.items.filter(function () {
        return item.message.match(/Foo/);
    });
    var vm = new Vue({
        el: '#app3',
        data:{
           object:{
               title: 'How to do lists in Vue',
               author: 'Jane Doe',
               publishedAt: '2016-04-10'
           }
        },
    });
</script>
</body>
</html>